@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
.TodoApp {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 98vh;
    font-family: 'Montserrat';
}

.container {
    width: 400px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
} 